*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{   
    width: 100%;
    height: 200%;
    overflow: hidden;
    position: relative;
    margin: 10px;
    box-shadow: 5px 8px 12px black;
  }
header.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

header h1{
    font-size:3rem;
    color:yellow;
    position: absolute;
    top: 50%;
   left: 50%;
}
#logo img {
    position: absolute;
    top: 1150px;
    right: 350px; 
    width: 300px;
    height: 300px;
}

#logo h2 {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    margin: 10px;
}

nav a {
    text-decoration: none;
    background-color: white;
    width: 100px;
    color: blue;
    margin: 200px;
    display: block;
}

aside {

  position: absolute;
  right: 20px;
  margin-top: -500px;
  margin-left: 1500px;   

}
    

    

